# Ignore Gradle project-specific cache directory
.gradle
.vscode


# custom
# ignore binary code
app/bin
# some txt for local env :)
ref.txt
tips.txt
*.pdf
# python person txt generator
# random_person_generator.py
# persons.txt

# Ignore Gradle build output directory
build
